// Index.html
main{
    h1{
        text-align: center;
        font-weight: bold;
    }
    h2{
        font-size: 1.1em;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
    }
    #card{
        margin-top: 20px;
        .card-item{
            width: 90%;
            margin: auto;
            background-color: rgb(235, 234, 235);
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 20px;
            @include pc{
                width: 45%;
            }
            .card-img{
                width: 100%;
                margin: auto;
                border-radius: 15px 15px 0 0;
                @include tablette-pc{
                    height: 300px;
                }
            }
            h3{
                margin: 5px 0 5px 5%;
            }
            .card-info{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                width: 90%;
                margin: auto;
                .card-price{
                    margin: 5px 0 5px;
                    background-color: white;
                    padding: 7px;
                    border-radius: 18px;
                }
                .card-button__lien{
                    @include button;
                    border-radius: 30px;
                    text-decoration: none;
                    color: white;
                    display: block;
                    transform: scale(1);
                    transition: transform 600ms;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .card-pc{
        @include pc{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

// Produit.html

main{
    h2{

    }
    article{
        .card-item{
            @include tablette-pc{
                max-width: 600px;
            }
        }
        label{
            padding: 8px;
            margin-left: 15%;
            background-color: rgb(235, 234, 235);
            border-radius: 15px;
            white-space: nowrap;
            width: 250px;
            display: block;
            margin: auto;
        }
        .add-to-cart{
            margin-top: 20px;
            button{
                @include button;
                font-weight: bold;
                color: white;
                display: block;
                margin: auto;
                transform: scale(1);
                transition: transform 600ms;
                &:hover{
                    transform: scale(1.1);
                }
            } 
        }
        .alert{
            text-align: center;
            padding-top: 5px;
        }
    }
}

// Cart

main{
    .cart{
        text-align: center;
        .card-item-panier{
            width: 90%;
            margin: auto;
            background-color: rgb(235, 234, 235);
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 20px;
            @include tablette-pc{
                display: flex;
                justify-content: space-around;
                height: 200px;
                align-items: center;
            }
            @include pc{
                width: 80%;
            }
            .panier-img{
                width: 100%;
                margin: auto;
                border-radius: 15px 15px 0 0;
                @include tablette-pc{
                    width: 40%;
                    margin: 0;
                    height: 95%;
                    border-radius: 15px 0 0 15px;
                }
            }
            .description{
                p{
                    .bold{
                        font-weight: bold;
                    }
                }
            }
            .quantity{
                .fa-arrow-circle-left{
                    &:before{
                        margin-right: 5px;
                    }
                }
                .fa-arrow-circle-right{
                    margin-left: 5px;
                }
                @include pc{
                    white-space: nowrap;
                    margin-right: 5px;
                }
            }
            button{
                @include button;
                color: white;
                transform: scale(1);
                transition: transform 600ms;
                &:hover{
                    transform: scale(1.1);
                }
                @include tablette-pc{
                    height: 50px;
                }
            }
        }
    }
    #cart-total{
        text-align: center;
    }
    .container{
        text-align: center;
        @include tablette-pc{
            text-align: right;
        }
        .invisible{
            display: none;
        }
        form{
            font-size: 1.1em;
            @include tablette-pc{
                width: 50%;
                margin: auto;
                margin-right: 20%;
                font-size: 1.3em;
            }
            
            #btn{
                @include button;
                background-color: rgb(47, 14, 136);
                border-color: rgb(47, 14, 136);
                color: white;
                transform: scale(1);
                transition: transform 600ms;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

// confirmation

main{
    .achat{
        text-align: center;
        @include pc{
            margin-bottom: 100px;
        }
        .confirmation{
            padding: 30px;
            font-size: 1.3em;
        }
        .bold{
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}