body {
  min-width: 320px;
}

@media all and (min-width: 1024px) {
  body {
    max-width: 1300px;
    margin: auto;
  }
}

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.navbar {
  background-color: #06020e;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 1fr;
        grid-template-columns: 50% 1fr;
  }
}

.navbar .logo {
  display: block;
  width: 95%;
  margin: auto;
  padding-top: 10px;
  border-radius: 40px;
}

@media screen and (min-width: 600px) {
  .navbar .logo {
    width: 200px;
    margin: 0 0 10px 10px;
    border-radius: 0;
  }
}

.navbar #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar #nav .active {
  color: plum;
}

.navbar #nav a {
  text-decoration: none;
  color: white;
  padding: 20px 0 20px;
  font-size: 1.1em;
}

.navbar #nav a:hover {
  color: #edd2ed;
}

@media screen and (min-width: 600px) {
  .navbar #nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar #nav .panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 600px) {
  .navbar #nav .panier {
    margin-left: 15px;
  }
}

.navbar #nav .panier #panier_quantity {
  margin-left: 10px;
  padding: 0 7px 0 7px;
  color: white;
  background-color: #b36f5b;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  right: 10px;
}

main h1 {
  text-align: center;
  font-weight: bold;
}

main h2 {
  font-size: 1.1em;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

main #card {
  margin-top: 20px;
}

main #card .card-item {
  width: 90%;
  margin: auto;
  background-color: #ebeaeb;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

@media all and (min-width: 1024px) {
  main #card .card-item {
    width: 45%;
  }
}

main #card .card-item .card-img {
  width: 100%;
  margin: auto;
  border-radius: 15px 15px 0 0;
}

@media screen and (min-width: 600px) {
  main #card .card-item .card-img {
    height: 300px;
  }
}

main #card .card-item h3 {
  margin: 5px 0 5px 5%;
}

main #card .card-item .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
}

main #card .card-item .card-info .card-price {
  margin: 5px 0 5px;
  background-color: white;
  padding: 7px;
  border-radius: 18px;
}

main #card .card-item .card-info .card-button {
  border-radius: 15px;
  padding: 8px;
  background-color: #b36f5b;
  border-color: #b36f5b;
}

main #card .card-item .card-info .card-button .card-button__lien {
  text-decoration: none;
  color: white;
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

main #card .card-item .card-info .card-button .card-button__lien:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media all and (min-width: 1024px) {
  main .card-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main article label {
  padding: 8px;
  margin-left: 15%;
  background-color: #ebeaeb;
  border-radius: 15px;
  white-space: nowrap;
  width: 250px;
  display: block;
  margin: auto;
}

main article .add-to-cart {
  margin-top: 20px;
}

main article .add-to-cart button {
  border-radius: 15px;
  padding: 8px;
  background-color: #b36f5b;
  border-color: #b36f5b;
  font-weight: bold;
  color: white;
  display: block;
  margin: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

main article .add-to-cart button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main article .alert {
  text-align: center;
  padding-top: 5px;
}

main .cart {
  text-align: center;
}

main .cart .card-item-panier {
  width: 90%;
  margin: auto;
  background-color: #ebeaeb;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

@media screen and (min-width: 600px) {
  main .cart .card-item-panier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 1024px) {
  main .cart .card-item-panier {
    width: 80%;
  }
}

main .cart .card-item-panier .panier-img {
  width: 100%;
  margin: auto;
  border-radius: 15px 15px 0 0;
}

@media screen and (min-width: 600px) {
  main .cart .card-item-panier .panier-img {
    width: 40%;
    margin: 0;
    height: 95%;
  }
}

main .cart .card-item-panier .description p .bold {
  font-weight: bold;
}

main .cart .card-item-panier .quantity .fa-arrow-circle-left:before {
  margin-right: 5px;
}

main .cart .card-item-panier .quantity .fa-arrow-circle-right {
  margin-left: 5px;
}

@media all and (min-width: 1024px) {
  main .cart .card-item-panier .quantity {
    white-space: nowrap;
    margin-right: 5px;
  }
}

main .cart .card-item-panier button {
  border-radius: 15px;
  padding: 8px;
  background-color: #b36f5b;
  border-color: #b36f5b;
  color: white;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

main .cart .card-item-panier button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 600px) {
  main .cart .card-item-panier button {
    height: 50px;
  }
}

main #cart-total {
  text-align: center;
}

main .container {
  text-align: center;
}

@media screen and (min-width: 600px) {
  main .container {
    text-align: right;
  }
}

main .container .invisible {
  display: none;
}

main .container form {
  font-size: 1.1em;
}

@media screen and (min-width: 600px) {
  main .container form {
    width: 50%;
    margin: auto;
    margin-right: 20%;
    font-size: 1.3em;
  }
}

main .container form #btn {
  border-radius: 15px;
  padding: 8px;
  background-color: #b36f5b;
  border-color: #b36f5b;
  background-color: #2f0e88;
  border-color: #2f0e88;
  color: white;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

main .container form #btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .achat {
  text-align: center;
}

@media all and (min-width: 1024px) {
  main .achat {
    margin-bottom: 100px;
  }
}

main .achat .confirmation {
  padding: 30px;
  font-size: 1.3em;
}

main .achat .bold {
  font-weight: bold;
  font-size: 1.1em;
}

footer {
  background-color: #121215;
  color: white;
  margin-top: 30px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */