h1{
    color: $important;
    display: block;
    margin: auto;
    margin-top: 20px;
}

h2{
    font-size: 1.1em;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 90%;
}