@mixin pc{
    @media all and (min-width: 1024px)
    {
        @content;
    }
}

@mixin tablette-pc{
    @media screen and (min-width: 600px)
    {
        @content;
    }
}



@mixin lien{
    .active{
        color: plum;
    };
    a{
        text-decoration: none;
        color: white;
        padding: 20px 0 20px;
        font-size: 1.1em;
        &:hover{
            color: rgb(237, 210, 237);
        };
    };
};

@mixin panier{
    margin-left: 10px;
    padding: 0 7px 0 7px;
    color: white;
    background-color: rgb(179, 111, 91);
    border-radius: 50%;
    position: relative;
    bottom: 15px;
    right: 10px;
};

@mixin button{
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(179, 111, 91);
    border-color: rgb(179, 111, 91);
}
 

